$black: #282c34;
$grass: rgb(205, 230, 197);
$poison: rgb(213, 185, 219);
$fire: rgb(238, 185, 185);
$electric: rgb(247, 238, 202);
$water: rgb(178, 195, 230);
$ice: rgb(220, 228, 243);
$bug: rgb(221, 218, 218);
$flying: rgb(253, 237, 240);
$ghost: rgb(229, 226, 226);
$psychic: rgb(241, 237, 237);
$ground: rgb(213, 216, 178);
$fighting: rgb(175, 175, 175);